body {
    padding-top:  50px;
}

.starter-template {
    padding: 40px 15px;
}

form {
    width: 400px;
    max-width: 400px;
}

.alert {
    width: 400px;
    max-width: 400px;
}

.img_size {
    width: 250px;
}

.language {
    padding-top: 20px;
    float: left;
}

.text_indent {
    text-indent: 40px;
}