body {
    padding-top:  10px;
    background-image: url(/img/back.jpg);
}

.starter-template {
    padding: 10px 15px;
}

form {
    width: 400px;
    max-width: 400px;
}

.alert {
    width: 400px;
    max-width: 400px;
}

.img_size {
    width: 250px;
}

.language {
    padding-top: 20px;
    float: left;
}

.text_indent {
    text-indent: 40px;
}

.form-control {
    width: 200px;
}
#team, #desk, #sales, #status, #send{
    display: none;
}
.btn-successs {
    float: right;
}