<h3>Add banner</h3><br>
<form method="post" action="">
    <div class="form-group">
        <label for="alias">Banner name</label>
        <input type="text" id="alias" name='banner_name' value="" class="form-control">
    </div>
    <div class="form-group">
        <label for="title">Banner image link</label>
        <input type="text" id="title" name="banner_image" value="" class="form-control">
    </div>
    <div class="form-group">
        <label for="position">Banner position</label>
        <input type="text" id="position" name="banner_position" value="" class="form-control">
    </div>
    <div class="form-group">
        <label for="priority">Banner priority</label>
        <input type="text" id="priority" name="banner_priority" value="" class="form-control">
    </div>

    <input type="submit" class="btn btn-success">
</form>
</table>
