
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/pages/expert/">Expert</a>
            <a class="navbar-brand" href="/pages/">Go to Portfolio</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            </ul>
        </div>
    </div>
</nav>

<?php

$db =  new DB(Config::get('db.host'), Config::get('db.user'), Config::get('db.password'), Config::get('db.db_name'));
$sql = "SELECT * FROM `expert_cc_callcenter`";
$callCenters = $db->query($sql);
function callCenters($callCenters) {
foreach ($callCenters as $key => $callCenter) {
echo "<option value='{$callCenter['id']}'>{$callCenter['name']}</option>";
}
}
?>

<div class="col-sm-offset-3 col-sm-3 mrg_top">
    <table class="table">
        <caption >Assignment</caption>
        <tr>
            <td>Call centr:</td>
            <td><select class="form-control" name="new1" onchange="fetch_select(this.name,this.value);
             $('#desk').css('display','table-row'); $('#team,#sales,#status,#send').css('display','none');
             if(this.value ==0){$('#desk').css('display','none');}">
                    <option></option>
                    <?php callCenters($callCenters); ?>
                </select>
            </td>
        </tr>
        <tr id="desk">
            <td>Desk:</td>
            <td><select class="form-control" id="new1" name="new2" onchange="fetch_select(this.name,this.value);
            $('#team').css('display','table-row'); $('#sales,#status,#send').css('display','none');
            if(this.value ==0){$('#team').css('display','none');}">
                </select>
            </td>
        </tr>
        <tr id="team">
            <td>Team:</td>
            <td><select class="form-control" id="new2" name="new3" onchange="fetch_select(this.name,this.value);
             $('#sales').css('display','table-row'); $('#status,#send').css('display','none');
             if(this.value ==0){$('#sales').css('display','none');}">
                </select></td>
        </tr>
        <tr id="sales">
            <td>Sales:</td>
            <td><select class="form-control" id="new3" name="new4" onchange="fetch_select(this.name,this.value);
            $('#status').css('display','table-row');$('#send').css('display','none');
            if(this.value ==0){$('#status').css('display','none');}">
                </select></td>
        </tr>
        <tr id="status">
            <td>Lead status:</td>
            <td><select class="form-control" id="new4" onchange="$('#send').css('display','table-row')">
                </select></td>
        </tr>
        <tr id="send">
            <td colspan="2"><input  class="btn btn-successs btn-success" type="submit"></td>
            <td></td>
        </tr>
    </table>
    <div id="id"></div>
</div>
</body>
</html>
