<div class="col-sm-12">
    <div class="language col-sm-12 text-right">
        <a href="/en/" class="btn">eng</a>
        <a href="/ru/" class="btn">rus</a>
        <a class='glyphicon glyphicon-envelope btn' data-toggle="modal" data-target="#myModal"></a>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-info text-left"> Контакты</h4>
                    </div>
                    <div class="modal-body text-left">
                        <span class="text-muted h5">Phone: </span>
                        <span class="text-info h4">+38 097 3000 256</span><br><br>
                        <span class="text-muted h5">Email:</span>
                        <a href="mailto:Kostya950@gmail.com" class="text-info h4">Kostya950@gmail.com</a><br><br>
                        <span class="text-muted h5">Social network:</span>
                        <a href="https://ua.linkedin.com/in/kostya-kovalchuk-0449b5109" class="text-info h4">Linkedin</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <img class="img-rounded img_size" src='/img/IMG_5394.jpg'>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12 h3 text-center"><?=__('hello')?></div>
        <div class="col-sm-12 h4 text-justify text_indent"><?=__('about_me')?></div>
        <div class="col-sm-12 h4 text-justify text_indent"><?=__('goal')?></div>
        <div class="col-sm-6 text-muted text-center"><span class="h3"><?=__('own_project')?></span><br><br>
            <a class='btn btn-success' data-toggle="modal" data-target="#pravo">Pravo</a>
            <div id="pravo" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title text-info text-left"> Картотека законодательных актов</h4>
                        </div>
                        <div class="modal-body text-left">
                            <div class="h5 text-justify text_indent"><?=__('pravo')?></div><br>
                            <span class="text-muted h5">Link:</span>
                            <a href="http://pravo.pe.hu" class="text-info h5">pravo</a><br>
                            <span class="text-muted h5">GitHub:</span>
                            <a href="https://github.com/Kostya950/Card-file-of-legislation-MVC-" class="text-info h5">watch</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-muted text-center"><span class="h3"><?=__('test_tasks')?></span><br><br>
            <a class="btn btn-danger" href="/pages/fresh_design/">Fresh-Design</a><br><br>
            <a class="btn btn-info" href="/pages/expert/">Expert</a>
        </div>
    </div>
</div>



