<div class="col-sm-offset-1 col-sm-11">
    <div class="col-sm-3">
        <img class="img-rounded img_size" src='/img/IMG_5394.jpg'>
    </div>
    <div class="language col-sm-12"><a href="/en/" class="btn btn-default btn-sm">english</a></div>

    <div class="col-sm-9">
        <div class="col-sm-12 h3 text-center"><?=__('hello')?></div>
        <div class="col-sm-12 h5 text-justify"><?=__('about_me')?></div>
    </div>
</div>
<div class="col-sm-offset-2 col-sm-8">
    <a class="btn btn-danger" href="/pages/fresh_design/">Fresh-Design</a>
    <a class="btn btn-info" href="/pages/expert/">Expert</a>
</div>


