<div class="col-sm-12">
    <div class="language col-sm-12 text-right">
        <a href="/en/" class="btn">eng</a>
        <a href="/ru/" class="btn">rus</a>
        <a class='glyphicon glyphicon-envelope btn' data-toggle="modal" data-target="#myModal"></a>
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title text-info text-left"> Контакты</h4>
                    </div>
                    <div class="modal-body text-left">
                        <span class="text-muted h5">Phone: </span>
                        <span class="text-info h4">+38 097 3000 256</span><br><br>
                        <span class="text-muted h5">Email:</span>
                        <a href="mailto:Kostya950@gmail.com" class="text-info h4">Kostya950@gmail.com</a><br><br>
                        <span class="text-muted h5">Social network:</span>
                        <a href="https://ua.linkedin.com/in/kostya-kovalchuk-0449b5109" class="text-info h4">Linkedin</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12 text-center">
        <img class="img-rounded img_size" src='/img/IMG_5394.jpg'>
    </div>
    <div class="col-sm-12">
        <div class="col-sm-12 h3 text-center"><?=__('hello')?></div>
        <div class="col-sm-12 h4 text-justify text_indent"><?=__('about_me')?></div>
        <div class="col-sm-12 h4 text-justify text_indent"><?=__('goal')?></div><br>
        <div class="col-sm-6 text-muted text-center"><span class="h3"><?=__('own_project')?></span><br><br>
            <a class='btn btn-success' data-toggle="modal" data-target="#pravo">Pravo</a>
            <div id="pravo" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title text-info text-left"> Картотека законодательных актов</h4>
                        </div>
                        <div class="modal-body text-left">
                            <div class="h5 text-justify text_indent"><?=__('pravo')?></div><br>
                            <span class="text-muted h5">Link:</span>
                            <a href="http://pravo.pe.hu" class="text-info h5">pravo</a><br>
                            <span class="text-muted h5">GitHub:</span>
                            <a href="https://github.com/Kostya950/Card-file-of-legislation-MVC-" class="text-info h5">watch</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-muted text-center"><span class="h3"><?=__('test_tasks')?></span><br><br>
            <a class='btn btn-danger' data-toggle="modal" data-target="#fresh-design">Fresh-Design</a>
            <div id="fresh-design" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title text-info text-left"> Fresh-design</h4>
                        </div>
                        <div class="modal-body text-left">
                            <div class="h5 text_indent">
                               <div class="text-jusify">Необходимо реализовать систему выборки баннеров для отображения на баннерной позиции со
                                   следующими условиями:</div> <br>
                                <div class="text-justify">1. На каждой баннерной позиции может быть одновременно отображен только 1 баннер.</div> <br>
                                <div class="text-justify">2. При этом для каждой баннерной позиции может быть задан как один, так и несколько
                                    баннеров.</div>
                                <br>
                                <div class="text-justify">3. Каждый баннер обладает определенным приоритетом - от 1 до 10. При этом баннер с
                                    приоритетом 10 должен быть показан в 10 раз чаще, чем баннер с приоритетом 1 при прочих
                                    равных условиях.</div>
                                <br>
                                <div class="text-justify">4. Баннера для показа должны выбираться по псевдо случайному алгоритму, т.е. чтобы подряд
                                    один и тот же баннер по возможности не отображался.</div>
                                <br>
                                <div class="text-justify">5. На определенных позициях баннера может не быть баннеров с определенным приоритетом
                                    (1-10 и т.д.).</div>
                                <br>
                                <div class="text-justify">Задача - реализовать алгоритм выбора баннера, наиболее соответствующий заданным
                                    требованиям, при этом важно минимизировать количество обращений к базе данных для
                                    выборки баннеров для показа.</div>
                                 </div><br>
                            <span class="text-muted h5">Link:</span>
                            <a href="/pages/fresh_design/" class="text-info h5">fresh-design</a><br>
                            <span class="text-muted h5">GitHub:</span>
                            <a href="https://github.com/Kostya950/Portfolio/blob/master/views/pages/fresh_design.html" class="text-info h5">watch</a><br>
                        </div>
                    </div>
                </div>
            </div><br>
            <a class="btn btn-info" href="/pages/expert/">Expert</a>

            <a class='btn btn-info' data-toggle="modal" data-target="#expert">Expert</a>
            <div id="expert" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"><button class="close" type="button" data-dismiss="modal">×</button>
                            <h4 class="modal-title text-info text-left"> Expert</h4>
                        </div>
                        <div class="modal-body text-left">
                            <div class="h5 text-justify text_indent">
                            Используя AJAX реализовать подтягивание данных из базы в зависимости от выбранного пункта
                                выпадающего списка для все полей. При удалении значения из верхнего списка нижние должны
                                так же очищатся.
                            </div><br>
                            <span class="text-muted h5">Link:</span>
                            <a href="/pages/expert/" class="text-info h5">expert</a><br>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



